canvas {
    max-height: 10rem;
}

div.card {
    background-color: #1f2033d0;
    color: #fff;
    margin: 2rem 2rem 0rem 2rem;
}

h3 {
    margin: 2rem 0rem 2rem 2rem;
}

navbar {
    background-color: #000;
}

a.navbar-brand {
    color: #fff;
}

h5.card-header {
    background-color: #343a40;
}